#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// -----------------------------------------------------------------------------------------
// |  Q   |  W   |  E   |  R   |  T   |||   Y   |  U    |  I   |  O   |   P   |
// |  A   |  S   |  D   |  F   |  G   |||   H   |  J    |  K   |  L   |   ;   |
// | sZ   | cX   |  C   |  V   |  B   |||   N   |  M    |  ,   | c.   |  s/   |
// |      |      |      |  l1  |l2-ENT||| SPACE | BSPACE|      |      |       |
			bindings = <
	&kp Q        &kp W       &kp E    &kp R     &kp T       &trans &trans &kp Y     &kp U    &kp I     &kp O          &kp P
	&kp A        &kp S       &kp D    &kp F     &kp G       &trans &trans &kp H     &kp J    &kp K     &kp L          &kp SEMI
	&mt LSHIFT Z &mt LCTRL X &kp C    &kp V     &kp B       &trans &trans &kp N     &kp M    &kp COMMA &mt RCTRL DOT  &mt RSHIFT SLASH
	&trans       &trans      &trans   &lt 1 ESC &lt 2 ENTER &trans &trans &kp SPACE &kp BSPC &trans 	&trans         &trans
			>;
		};

		first_layer {
			bindings = <
	&kp 1        &kp 2       &kp 3    &kp 4  &kp 5       &trans &trans &kp 6     &kp 7    &kp 8     &kp 9          &kp 0
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
			>;
		};

		second_layer {
			bindings = <
	&kp EXCL        &kp AT       &kp HASH    &kp DLLR  &kp PRCNT       &trans &trans &kp CARET     &kp AMPS    &kp ASTRK     &kp LPAR          &kp RPAR
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans 
			>;
		};
	};
};
